<container>
  <spacer size="10"></spacer>
  <row>
    <columns class="text-center small-text-center">
      <p class="text-center">
        <a href="https://vk.com/pixelplus" target="_blank">
          {{!--
          <img class="img" style="width:30px;height:30px" src="https://pixelplus.ru/upload/images/assets/img/vk.png" alt="VK">
          --}}
          <img class="img" style="width:30px;height:30px" src="{{root}}assets/img/vk.png" alt="VK">
        </a>
        <a href="https://www.youtube.com/user/pixelplusru/videos" target="_blank">
          {{!--
          <img class="img" style="width:30px;height:30px" src="https://pixelplus.ru/upload/images/assets/img/youtube.png" alt="YouTube">
          --}}
          <img class="img" style="width:30px;height:30px" src="{{root}}assets/img/youtube.png" alt="YouTube">
        </a>
        <a href="https://t.me/pixelplusru" target="_blank">
          {{!--
          <img class="img" style="width:30px;height:30px" src="https://pixelplus.ru/upload/images/assets/img/telegram.png" alt="Telegram">
          --}}
          <img class="img" style="width:30px;height:30px" src="{{root}}assets/img/telegram.png" alt="Telegram">
        </a>
      </p>
    </columns>
  </row>
  <spacer size="24"></spacer>
  <wrapper class="footer">
    <row>
      <columns><h-line></h-line></columns>
    </row>
    <row>

      <columns small="6" large="6" valign="middle">
        <p class="small-float-left small-text-left text-left">С уважением, кадровый портал <br> интернет-агентства «Пиксель Плюс»</p>
      </columns>

      <columns small="6" large="6" valign="middle">
        <p class="phone small-float-right small-text-right text-right">
          <a style="text-align: right;white-space: nowrap" href="tel:+74959895311">+7 495 989-53-11</a>
        </p>
        <p class="small-float-right small-text-right text-right">
          <a style="text-align: right;white-space: nowrap" href="https://pixelplus.ru" target="_blank">www.pixelplus.ru</a>
        </p>
        <p class="small-float-right small-text-right text-right">
          <a style="text-align: right;white-space: nowrap" href="mailto:team@pixelplus.ru">team@pixelplus.ru</a>
        </p>
      </columns>

    </row>
    <spacer size="4"></spacer>
  </wrapper>
</container>