<container>
  <wrapper class="footer secondary">
    <row class="collapse">

      <columns small="12" large="5" valign="middle">
        <a class="small-text-center text-left" href="https://pixelplus.ru" target="_blank">
          {{!-- <img class="small-float-center" style="width:208px;height:auto" src="assets/img/logo.png" alt="Пиксель Плюс"> --}}
          <img class="small-float-center" style="width:208px;height:auto" src="https://pixelplus.ru/upload/mailing/quiz/logo.png" alt="Пиксель Плюс">
        </a>
      </columns>

      <columns small="12" large="2"></columns>

      <columns small="12" large="5" valign="middle">
        <p class="small-text-center text-right">Телефон: <a href="tel:+74959895311">+7 495 989-53-11</a></p>
        <p class="small-text-center text-right">E-mail: <a href="mailto:quiz-gift@pixelplus.ru">quiz-gift@pixelplus.ru</a></p>
        <p class="small-text-center text-right">
          <a href="https://vk.com/pixelplus" target="_blank">
            <img class="img" style="width:24px;height:24px" src="https://pixelplus.ru/upload/mailing/quiz/icon-vk-red.png" alt="vk">
          </a>
          <a href="https://t.me/pixelplusru" target="_blank">
            <img class="img" style="width:24px;height:24px" src="https://pixelplus.ru/upload/mailing/quiz/icon-telegram-red.png" alt="telegram">
          </a>
          <a href="https://www.youtube.com/user/pixelplusru/videos" target="_blank">
            <img class="img" style="width:24px;height:24px" src="https://pixelplus.ru/upload/mailing/quiz/icon-youtube-red.png" alt="youtube">
          </a>
          <a href="https://www.instagram.com/pixelplus.ru/" target="_blank">
            <img class="img" style="width:24px;height:24px" src="https://pixelplus.ru/upload/mailing/quiz/icon-instagram-red.png" alt="instagram">
          </a>
          <a href="https://www.facebook.com/pixelplus.ru" target="_blank">
            <img class="img" style="width:24px;height:24px" src="https://pixelplus.ru/upload/mailing/quiz/icon-facebook-red.png" alt="facebook">
          </a>
        </p>
      </columns>

    </row>
  </wrapper>
</container>