<container>
  <wrapper class="header">
  <spacer size-sm="20" size-lg="6"></spacer>
    <row>
      <columns small="6" large="6" valign="middle">

        <a href="https://pixelplus.ru" target="_blank" >
          {{!--
          <img class="small-float-left" style="width:158px;height:auto" src="https://pixelplus.ru/upload/images/assets/img/logo.png" alt="Пиксель Плюс">
          --}}
          <img class="small-float-left" style="width:158px;height:auto" src="{{root}}assets/img/logo.png" alt="Пиксель Плюс">
        </a>

      </columns>
      <columns small="6" large="6" valign="middle">

        <p class="small-float-right small-text-right text-right">
          <a class="phone text-right small-float-right small-text-right" style="display: block;text-align: right;white-space: nowrap" href="tel:+74959895311">+7 495 989-53-11</a>
        </p>
        <p class="small-float-right small-text-center text-right">
          <a class="text-right small-float-right small-text-right" style="display: block;text-align: right;white-space: nowrap" href="https://pixelplus.ru" target="_blank">www.pixelplus.ru</a>
        </p>
        <p class="small-float-right small-text-right text-right">
          <a class="text-right small-float-right small-text-right" style="display: block;text-align: right;white-space: nowrap" href="mailto:team@pixelplus.ru">team@pixelplus.ru</a>
        </p>

      </columns>
    </row>
    <row>
      <columns><h-line></h-line></columns>
    </row>
  </wrapper>
  <spacer size="24"></spacer>
</container>