<container>
  <wrapper class="holidays">

    <row>
      <columns>
        <center>
          <h1 class="text-center">
            Привет, Андрей!
          </h1>
        </center>
      </columns>
    </row>

    {{#ifpage 'feb23-1'}}
    <row class="holidays-bg" style="background-color:#1B6484;background-image: url(assets/img/holidays/feb23-01.png)">
    {{/ifpage}}
    {{#ifpage 'feb23-2'}}
    <row class="holidays-bg" style="background-color:#585A23;background-image: url(assets/img/holidays/feb23-02.png)">
    {{/ifpage}}
    {{#ifpage 'feb23-3'}}
    <row class="holidays-bg" style="background-color:#E12F24;background-image: url(assets/img/holidays/feb23-03.png)">
    {{/ifpage}}
    {{#ifpage 'feb23-4'}}
    <row class="holidays-bg" style="background-color:#3492CF;background-image: url(assets/img/holidays/feb23-04.png)">
    {{/ifpage}}
    {{#ifpage 'feb23-5'}}
    <row class="holidays-bg" style="background-color:#070939;background-image: url(assets/img/holidays/feb23-05.png)">
    {{/ifpage}}

      <columns small="12" large="9" valign="middle">
        <p class="holidays-event">С 23 февраля!</p>
        <p class="holidays-bonus">Сумма поступивших баллов:</p>
        <p class="holidays-sum">1000 бонусных <br> рублей</p>
        <p class="holidays-link">
          <nobr>Актуальный баланс баллов доступен</nobr>
          <nobr>в <a href="https://team.pixelplus.ru/personal/bonus/" target="_blank">кадровом портале компании</a></nobr>
        </p>
      </columns>
      <columns small="12" large="3"></columns>

    </row>

  </wrapper>
</container>
