<container>
  <wrapper class="holidays">

    <row>
      <columns>
        <center>
          <h1 class="text-center">
            Привет, Ксения!
          </h1>
        </center>
      </columns>
    </row>

    {{#ifpage 'march8-1'}}
    <row class="holidays-bg" style="background-color:#1B6484;background-image: url(assets/img/holidays/march8-01.png)">
    {{/ifpage}}
    {{#ifpage 'march8-2'}}
    <row class="holidays-bg" style="background-color:#B0C1C7;background-image: url(assets/img/holidays/march8-02.png)">
    {{/ifpage}}
    {{#ifpage 'march8-3'}}
    <row class="holidays-bg" style="background-color:#132C43;background-image: url(assets/img/holidays/march8-03.png)">
    {{/ifpage}}
    {{#ifpage 'march8-4'}}
    <row class="holidays-bg" style="background-color:#5AA99C;background-image: url(assets/img/holidays/march8-04.png)">
    {{/ifpage}}
    {{#ifpage 'march8-5'}}
    <row class="holidays-bg" style="background-color:#3E9283;background-image: url(assets/img/holidays/march8-05.png)">
    {{/ifpage}}

      <columns small="12" large="9" valign="middle">
        <p class="holidays-event">С 8 марта!</p>
        <p class="holidays-bonus">Сумма поступивших баллов:</p>
        <p class="holidays-sum">1000 бонусных <br> рублей</p>
        <p class="holidays-link">
          <nobr>Актуальный баланс баллов доступен</nobr>
          <nobr>в <a href="https://team.pixelplus.ru/personal/bonus/" target="_blank">кадровом портале компании</a></nobr>
        </p>
      </columns>
      <columns small="12" large="3"></columns>

    </row>

  </wrapper>
</container>
