<container>
  <wrapper class="main vacation">

    <row>
      <columns>
        <center>
          <h1 class="text-center">Привет, Валерий Суворов!</h1>
        </center>
      </columns>
    </row>

    {{#ifpage 'vacation-1'}}
    <row class="vacation-bg" style="background-color:#5CA2CD;background-image: url(images/vacation/vacation-01.png)">
    {{/ifpage}}
    {{#ifpage 'vacation-2'}}
    <row class="vacation-bg" style="background-color:#0D78C6;background-image: url(images/vacation/vacation-02.png)">
    {{/ifpage}}
    {{#ifpage 'vacation-3'}}
    <row class="vacation-bg" style="background-color:#0BB5E1;background-image: url(images/vacation/vacation-03.png)">
    {{/ifpage}}
    {{#ifpage 'vacation-4'}}
    <row class="vacation-bg" style="background-color:#436EBF;background-image: url(images/vacation/vacation-04.png)">
    {{/ifpage}}
    {{#ifpage 'vacation-5'}}
    <row class="vacation-bg" style="background-color:#69B1C9;background-image: url(images/vacation/vacation-05.png)">
    {{/ifpage}}
    {{#ifpage 'vacation-6'}}
    <row class="vacation-bg" style="background-color:#568fcc;background-image: url(images/vacation/vacation-06.png)">
    {{/ifpage}}
    {{#ifpage 'vacation-7'}}
    <row class="vacation-bg" style="background-color:#1C4972;background-image: url(images/vacation/vacation-07.png)">
    {{/ifpage}}
    {{#ifpage 'vacation-8'}}
    <row class="vacation-bg" style="background-color:#405366;background-image: url(images/vacation/vacation-08.png)">
    {{/ifpage}}
    {{#ifpage 'vacation-9'}}
    <row class="vacation-bg" style="background-color:#1F1E4E;background-image: url(images/vacation/vacation-09.png)">
    {{/ifpage}}
    {{#ifpage 'vacation-10'}}
    <row class="vacation-bg" style="background-color:#1C3256;background-image: url(images/vacation/vacation-10.png)">
    {{/ifpage}}

      <columns small="8" large="8" valign="middle">
        <p style="margin-bottom:24px;">Мы очень хотим, чтобы ты сохранял боевой настрой, высокую продуктивность и мотивацию. Согласно международным исследованиям — этому способствует регулярный отдых. Он важен и тебе и компании.</p>

        <div small="8" large="8" class="vacation-border">
          <p style="vertical-align:middle;">На кадровом портале есть информация о количестве дней отпуска и у тебя их уже</p>
          <p style="vertical-align:middle;white-space:nowrap;">34</p>
        </div>

        <p style="font-size: 16px;font-weight: 700;line-height: 22px;">
          <nobr>Это хороший повод спланировать</nobr> <nobr>свой отдых на ближайшее время!</nobr>
        </p>
      </columns>
      <columns small="4" large="4"></columns>

    </row>

  </wrapper>
</container>
